In [ ]:
#Routr project

#The goal is to design an app that plans a route through Madison/Boulder for you based off of bike lanes using Dijkstra's
#Or a Euler trail for certain destinations for sightseeing.

In [2]:
import os
# Replace the path with your actual proj directory


# Now you can import your libraries
import geopandas
import osmnx as ox
import networkx as nx

# os.environ['PROJ_LIB'] = r'C:/Users/monke/miniconda3/envs/routr_app/Library/share/proj'

In [5]:
import heapq as hq

In [ ]:
#Would I want node classes or path classes?

In [2]:
class bike_node:
    def __init__(self, node_id, lat, long):
        self.id = node_id
        self.position = (lat, long)

    def __repr__(self):
        return f"Node({self.id})"

In [3]:
class CyclewayGraph:
    
    def __init__(self, city, node_count, node_ids, cycleways, edge_count, edge_ids):
        self.id = city
        self.node_length = f"node_count: {node_count}"
        self.edge_length = f"edge_count: {edge_count}"
        self.node_ids = node_ids
        self.edge_ids = edge_ids

In [4]:
msn_bike_data = ox.graph_from_place(query = 'Madison, Wisconsin', network_type= 'bike')

In [5]:
bike_gdf_nodes, bike_gdf_edges = ox.graph_to_gdfs(msn_bike_data)

In [6]:
msn_cycleway_edges = bike_gdf_edges.loc[bike_gdf_edges.loc[:,'highway']=='cycleway']

In [7]:
bike_gdf_nodes

,y,x,street_count,highway,railway,junction,ref,geometry
osmid,,,,,,,,
29983388,43.055465,-89.503097,3,NaN,NaN,NaN,NaN,POINT (-89.5031 43.05547)
30004439,43.121844,-89.355107,4,crossing,NaN,NaN,NaN,POINT (-89.35511 43.12184)
30004443,43.118693,-89.355135,4,NaN,NaN,NaN,NaN,POINT (-89.35513 43.11869)
30052852,43.081743,-89.474427,3,NaN,NaN,NaN,NaN,POINT (-89.47443 43.08174)
30052853,43.083103,-89.476018,4,NaN,NaN,NaN,NaN,POINT (-89.47602 43.0831)
...,...,...,...,...,...,...,...,...
13113870131,43.071970,-89.382412,1,NaN,NaN,NaN,NaN,POINT (-89.38241 43.07197)
13113870133,43.071884,-89.382296,3,NaN,NaN,NaN,NaN,POINT (-89.3823 43.07188)
13114941682,43.034837,-89.551771,3,NaN,NaN,NaN,NaN,POINT (-89.55177 43.03484)
13114975988,43.037359,-89.560336,3,NaN,NaN,NaN,NaN,POINT (-89.56034 43.03736)
13114975989,43.039264,-89.560187,3,NaN,NaN,NaN,NaN,POINT (-89.56019 43.03926)

In [ ]:
def find_shortest_path(point_a, point_b):
    """
        This function takes two nodes within the a graph object and finds the shortest path
        between them using Dijkstra's algorith. 

        This then returns a path from A to B.
    """
    visited_nodes = {}

    for node in msn_cycleway_edges.loc[point_a].index: #iterate over each node point_a is connected to 
        edge = msn_cycleway_edges.loc[node[0]] #use nodes from point_a to find which edges they connect to 
        print(edge.loc[:,'length'])
        edge_length = edge.loc[:,'length']
        return edge_length

In [122]:
test_edge = find_shortest_path(13107812002, 13107812003)

v            key
13107812002  0       82.295822
13107812003  0      105.591703
Name: length, dtype: float64

In [124]:
test_edge
# test_edge[(13107812002, 0)]

v            key
13107812002  0       82.295822
13107812003  0      105.591703
Name: length, dtype: float64

In [83]:
msn_cycleway_edges.loc[node[0]]
# node[0]

,,osmid,highway,maxspeed,name,oneway,reversed,length,geometry,lanes,ref,service,width,access,bridge,junction,tunnel
v,key,,,,,,,,,,,,,,,,
13107812002,0,1425929460,cycleway,NaN,NaN,False,False,82.295822,"LINESTRING (-89.28029 43.10917, -89.2804 43.10...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13107812003,0,1425929460,cycleway,NaN,NaN,False,True,105.591703,"LINESTRING (-89.28029 43.10917, -89.28019 43.1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
bike_gdf_nodes[bike_gdf_nodes.loc[:,] == msn_cycleways.iloc[0,0]]
# bike_gdf_nodes

NameError: name 'msn_cycleways' is not defined

In [73]:
#Find two nodes to travel between for the function.
#Can index the edges by starting vertex to find other options,
#Use this (with recursion?)/while loop to implement dijkstra's
#Do I need the nodes at all?
# msn_cycleway_edges.loc[13107812002]
msn_cycleway_edges.loc[13107783597].index[0]
# msn_cycleway_edges.loc[13107812003]
# msn_cycleway_edges.loc[13107783584]

(np.int64(13107812002), np.int64(0))

In [51]:
for index in msn_cycleway_edges.loc[13107783597].index:
    print(index[0])

13107812002
13107812003

In [ ]:
#The end goal is to return a path (no repeated vertices or edges) from a point A to a point B.